/* Align logo and text */
.site-title {
    display: flex !important;
    align-items: center;
    gap: 10px;
}

.site-logo {
    height: 100px;
    width: 100px;
    flex-shrink: 1;
}

.site-title-text {
    font-size: 0.6em;
    font-weight: 700;
    color: #222;
    /* Adjust color as needed */
}